{% extends 'base.html' %}
{% block nav_blog_active %}active{% endblock %}


{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}


{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{# 页面内容 #}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h3>{{ blog.title }}</h3>
				<ul class="blog-info-description">
				    <li>作者：{{ blog.author }}</li>
				    <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
				    <li>发表日期：{{ blog.created_time|date:"Y-m-d H:n:s" }}</li>
				</ul>                
				<p>{{ blog.content }}</p>
                <div class="blog-more">
                    {% if previous_blog %}
                         <a href="{% url 'blog_detail'  previous_blog.pk %}"> <p>上一篇：{{ previous_blog.title }}</p></a>
                    {% else %}
                        <p>没有了</p>
                    {% endif %}

                    {% if last_blog %}
                         <a href="{% url 'blog_detail'  last_blog.pk %}"> <p>下一篇：{{ last_blog.title }}</p></a>
                    {% else %}
                        <p>没有了</p>
                    {% endif %}

                </div>
			</div>

		</div>
		
	</div>    
{% endblock %}
